a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

img {
	height: 30px;
	width: auto;
}

.navbar {
	background-color: gray;
}

.search {
	font-weight: bolder;
}

p.search {
	color: black;
}

.container {
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 10px;
}

.container-fluid {
	padding-top: 10px;
}

.rounded-edges {
	border-radius: 50px;
}

.list-navigation {
	border: 1px solid gray;
}

.list-navigation-prev {
	border-right: 1px solid gray;
}

.list-navigation-next {
	border-left: 1px solid gray;
}
.postition-title {
	color: blue;
}
.date-posted, .company {
	color: gray;
	font-weight: normal;
}